fastapi
uvicorn
python-multipart
pydantic
bcrypt==4.0.1
passlib[bcrypt]
python-jose
email-validator
sqlalchemy
cryptography
PyMuPDF
PyPDF2
ollama
tiktoken
langchain
sentence-transformers
chromadb
rank_bm25
python-dotenv
scikit-learn
sentry-sdk
psycopg2-binary